<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Money forgin</th>
      <th>Money SAR</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.moneyForgin }}</td>
      <td>{{ forecast.moneySar }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
